:root {
    --primary-color: #f5f3e9;
    --secondary-color: #3D405B;
    --accent1-color: #81B29A;
    --accent2-color: #ce2e01;

    --body-font: "Trebuchet MS", "Gill Sans", sans-serif;
    --heading-font: "Courier", "Lucida Console", monospace;
}

/* * {
    margin: 0 auto;
} */

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0 auto;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    text-align: left;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-left: 20px;
}

.skiptocontent a:focus {
    top: 20px;
}

h1 {
    text-align: center;
    padding: 2rem;
}

nav {
    border-top: 1px solid var(--accent1-color);
    border-bottom: 1px solid var(--accent1-color);
    margin-bottom: 20px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    justify-content: end;
    justify-items: end;
    list-style: none;
    max-width: 900px;
    margin: 0 auto;
    padding: 15px;
}

a {
    text-decoration: none;
    color: var(--accent2-color);
    font-size: 1.2rem;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem 2rem;
}

.book {
    display: grid;
    grid-template-columns: .5fr 1fr;
    padding: 20px;
}

.book-info {
    padding: 20px;
    border-right: 1px solid var(--accent1-color);
    text-align: right;
    line-height: 1.5rem;
    justify-self: end;
    margin-right: 20px;
}

.date {
    font-size: 1.1rem;
}

.book-desc h2 {
    color: var(--accent2-color);
}

.book-desc img{
    max-width: 75%;
    padding: 10px;
    display: block;
    margin: 0 auto;
}

.filters {
    margin: 0 auto;
    border: 1px solid var(--accent1-color);
    grid-area: 1,2,2,3;
}